body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2B3541;
}

.nav {
    position: relative;
    padding-top: 53px;
}

.nav .logo {
    position: absolute;
    left: 45px;
    top: 50px;
}

.menu ul,
.social ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.nav .social {
    position: absolute;
    right: 42px;
    top: 50px;
}

.nav .menu li {
    margin-right: 53px;
    box-sizing: border-box;
    height: 33px;
}

.menu li:hover {
    border-bottom: 1px solid #2B3541;
}

.menu a {
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
}

.nav .social li,
.footer-menu .social li {
    margin-left: 30px;
}

.social img {
    transition: 0.2s ease;
}

.nav .social img {
    width: 30px;
    height: 30px;
    opacity: 0.8;    
}

.nav-mobile .social li:last-child {
    margin-left: 20px;
}

.nav-mobile .social img {
    width: 26px;
    height: 26px;
}

.social img:hover {
    width: 38px;
    height: 38px;
    opacity: 1;
}

main {
    overflow: hidden;
}

.wrapper {
    max-width: 1143px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    font-weight: normal;
    line-height: 125%;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.header {
    position: relative;
    height: 852px;
}

.sub-header {
    display: flex;
}

.sub-header-item {
    margin-right: 25px;
}

.sub-header-item h2 {
    margin-top: 11px;
    margin-bottom: 21px;
}

.sub-header-decription {
    line-height: 150%;
}

.more {
    position: absolute;
    bottom: 10px;
    left: 92px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.2s ease;
}

.button:hover, 
.button-hover {
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.button-more {
    width: 252px;
    height: 64px;
    margin-top: 34px;
}

.button-participate {
    width: 221px;
    height: 64px;
    margin-top: 40px;
    opacity: 0;
}

.header .header-img {
    position: relative;
}

.header .header-img img {
    position: absolute;
    right: -184px;
    top: -11px;
    width: 996px;
    height: 852px;
    z-index: -1;
}

.header .title {
    padding-top: 216px;
}

.section-events {
    margin-top: 147px;
}

.events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.events-item {
    position: relative;
    height: 600px;
    width: 367px;
    margin-bottom: 20px;
}

.events-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events-item .background,
.events-item-content
 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.events-item .background {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    transition: 0.2s ease;
}

.events-item:hover .background {
    opacity: 0.6;
}

.events-item-type {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 126px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBF138;
}

.events-item-add {
    display: none;
}

.events-item-content {
    padding: 30px;
    box-sizing: border-box;
}

.events-item-date {
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
    margin-top: 0;
}

.events-item-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    margin-top: 21px;
}

.events-item:hover .button-participate {
    opacity: 1;
}

.events-item:hover .events-item-type {
    display: none;
}

.section-schedule {
    margin-top: 100px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule-header-date {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 40px;
}

.schedule {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.schedule-sub-item:hover {
    cursor: pointer;
}

.schedule-sub-item {
    border: 1px solid rgba(43, 53, 65, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.schedule-sub-item {
    margin-bottom: 20px;
}

.schedule-today {
    border: none !important;
    position: relative;
}

.schedule-today::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);    
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}

.schedule-description {
    display: none;
    line-height: 150%;
    margin-bottom: 0;
}

.schedule-today .schedule-description, 
.schedule-sub-item:hover .schedule-description {
    display: block;
}

.schedule-sub-item1 {
    width: 367px;
    height: 250px;
}

.schedule-sub-item2 {
    width: 367px;
    height: 433px;
}

.schedule-sub-item3 {
    width: 366px;
    height: 402px;
}

.schedule-sub-item4 {
    width: 366px;
    height: 281px;
}

.schedule-sub-item5 {
    width: 367px;
    height: 309px;
}

.schedule-sub-item6 {
    width: 367px;
    height: 374px;
}

.schedule-date {
    opacity: 0.7;
    text-align: right;
    margin: 20px 30px 0 0;
}

.schedule-content {
    margin: 0 30px 20px 30px;
}

.schedule-title {
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 0;
    margin-top: 40px;
}

.section-subscribe {
    margin-top: 140px;
    height: 348px;
    display: flex;
    justify-content: center;
    background: #F3F3F3;
}

.subscribe-title {
    margin-top: 80px;    
}

.subscribe-title-item {
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);    
}

.subscribe-circle {
    top: -25px;
    left: -7px;
    width: 53px;
    height: 53px;
    z-index: 0;
}

.subscribe h3 {
    text-align: center; 
    position: relative;
    z-index: 1;   
}

#email {
    line-height: 150%;
    border: none;
    width: 372px;
    height: 65px;    
    padding: 19px;
    box-sizing: border-box;
    margin-right: 20px;
}

#email:hover {
    background: #F3F3F3;
}

#email:focus,
.subscribe input[type="submit"]:focus {
    outline: none;
}

.subscribe input[type="submit"] {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 225px;
    height: 65px;
    border: none;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    box-sizing: border-box;
    transition: 0.2s ease;
}

.subscribe input[type="submit"]:hover {
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
}

.form-item {
    margin-bottom: 10px;
    padding-left: 20px;
}

.subscribe input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.subscribe input[type="checkbox"]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.subscribe input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/check_box_empty.svg);
}

.subscribe input[type="checkbox"]:checked+label::before {
    background-image: url(../images/icons/check_box.svg);
}

.agree-text,
.agree-link {
    font-size: 11px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.5);
}

.agree-link {
    transition: 0.2s ease;
}

.agree-link:hover {
    color: #2B3541;
}

.email-error {
    border: 1px solid #AE0303 !important;
}

.email-error-text {
    margin: 4px 0 0 0;
    font-size: 14px;
    line-height: 150%;
    color: #AE0303;
    display: none;
}

.section-about {
    margin-top: 157px;
}

.about-header {
    display: flex;
    justify-content: space-between;
}

.about-header-item {
    flex-basis: 50%;
}

.button-about {
    width: 225px;
    height: 65px;
}

.about-header h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.about-description {
    line-height: 150%;
    margin-bottom: 30px;
}

.about-items {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 75px;
}

.about-item-title {
    font-weight: 700;
    line-height: 125%;
    margin-top: 0;
}

.about-item-description {
    line-height: 150%;
    opacity: 0.6;
}

footer {
    min-height: 149px;
    background: #F3F3F3;
    margin-top: 154px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-menu .menu {
    margin-left: 67px;
}

.footer-menu .menu li {
    margin-right: 91px;
    box-sizing: border-box;
    height: 27px;
}

.footer-menu .menu li:last-child {
    margin-right: 0;
}

.footer-menu .menu li a {
    font-size: 14px;
}

.contacts {
    margin-left: 208px;
    position: relative;
}

.contacts a {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
    z-index: 1;
}

footer .social {
    margin-top: -10px;
}

footer .social ul {
    width: 140px;
    justify-content: end;
}

footer .social img {
    width: 27px;
    height: 27px;
}

.footer p {
    margin-top: 22px;
}

.footer p, 
.footer-link {
    font-size: 14px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.3);    
}

.footer-link {
    transition: 0.2s ease;
}

.footer-link:hover {
    color: #2B3541;
}

.footer-circle {
    top: -12px;
    left: -18px;
    width: 25px;
    height: 25px;
    z-index: 0;
}

.menu-button,
.close-menu {
    border: none;
    background: transparent;
}

.mobile-menu-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.mobile-menu-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    background: #F3F3F3;
    z-index: 1001;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-items,
.mobile-menu-content .social {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.mobile-menu-items li {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(43, 53, 65, 0.2);
}

.mobile-menu-items li:last-child {
    border-bottom: none;
}

.mobile-menu-items li a {
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: #2B3541;
}

.mobile-menu-content .social {
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.mobile-menu-content .social li {
    margin-right: 20px;
}

.mobile-menu-content .social li a img {
    width: 26px;
    height: 26px;
}

.nav-mobile {
    display: none;
}

.header-mobile {
    display: none;
}

.form-item-submit {
    display: none;        
}

.about-footer {
    display: none;
}

.mobile-menu {
    display: none;
}

@media (max-width: 1430px) {
    .nav .logo {
        top: 20px;
        left: 2px;
    }
}

@media (max-width: 900px) {
    .about-items {
        gap: 35px;
    }    
}

@media (min-width: 769px) {
    .mobile-menu {
        display: none !important;
    }    
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    
    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10px 0 10px;
    }

    .nav {
        display: none;
    }

    .nav-mobile .logo img {
        width: 78px;
        height: 24px;
    }

    .header-mobile {
        display: block;
        padding: 0 10px;
    }

    .header {
        display: none;
    }

    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 26px;
        line-height: 32px;
    }
    
    h3 {
        font-size: 26px;
    }    

    .section-header {
        margin-top: 60px;
    }

    .header-mobile h2 {
        margin-top: 40px;
    }

    .header-mobile h2 span:first-child {
        margin-right: 20px;
    }

    .button-more {
        width: 100%;
        height: 65px;
        margin-top: 40px;
    }    

    .header-img {
        margin-top: 40px;
    }

    .header-img img {
        display: block;
        width: 100%;
        height: 310px;
        object-fit: cover;
    }

    .section-events {
        margin-top: 81px;
        padding: 0 10px;
    }

    .events-item {
        margin-bottom: 10px;
    }

    .events-item-content {
        padding: 20px;
    }    

    .events-item:nth-child(1),
    .events-item:nth-child(2) {
        width: 165px;
        height: 310px;        
    }

    .events-item:nth-child(3) {
        width: 100%;
        height: 336px;    
    }

    .events-item-date {
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        opacity: 0.6;
        margin-top: 0;
    }
    
    .events-item-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        margin-top: 21px;
    }    

    .button-participate {
        display: none;
    }

    .events-item-type {
        right: inherit;
        left: 0;
        bottom: 0;
        width: 87px;
        height: 30px;
        font-size: 12px;
    }

    .events-item-add {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        height: 30px;
        background: #2B3541;
    }

    .section-events h3 {
        margin-bottom: 21px;
    }

    .section-schedule {
        padding: 0 10px;
        margin-top: 41px;
    }

    .schedule {
        display: block;
    }

    .schedule-header h3 {
        margin-bottom: 19px;
    }

    .schedule-header-date {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        opacity: 0.7;
        margin-top: 22px;
    }    

    .schedule-date {
        font-size: 16px;
        line-height: 150%;
        text-align: right;
        margin: 22px 20px 0 0;
    }    

    .schedule-content {
        margin: 0 20px 20px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }    

    .schedule-img-wrapper {
        min-width: 56px;
    }

    .schedule-sub-item {
        margin-bottom: 20px;
    }

    .schedule-title {
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 0;
        margin-top: 0;
    }    

    .schedule-description {
        font-size: 12px;
        line-height: 150%;
    }

    .schedule-today .schedule-content, 
    .schedule-sub-item:hover .schedule-content {
        align-items: flex-start;
    }

    .schedule-today .schedule-content {
        margin-top: 55px;
    }

    .schedule-today {
        height: auto !important;
    }

    .schedule-sub-item {
        box-sizing: border-box;
    }

    .schedule-sub-item1,
    .schedule-sub-item2,
    .schedule-sub-item3,
    .schedule-sub-item4,
    .schedule-sub-item5,
    .schedule-sub-item6 {
        width: 100%;
        height: 114px;
    }    

    .schedule-sub-item4 {
        margin-bottom: 14px;
    }

    .schedule-sub-item5 {
        margin-bottom: 17px !important;
    }

    .schedule-sub-item1 .schedule-img {
        width: 39px;
        height: 39px;
    }

    .schedule-sub-item2 .schedule-img {
        width: 34px;
        height: 53px;
    }

    .schedule-sub-item3 .schedule-img {
        width: 23px;
        height: 45px;
    }

    .schedule-sub-item4 .schedule-img {
        width: 39px;
        height: 37px;
    }

    .schedule-sub-item5 .schedule-img {
        width: 46px;
        height: 25px;
    }

    .schedule-sub-item6 .schedule-img {
        width: 35px;
        height: 40px;   
    }

    .subscribe-circle {
        top: 13px;
        left: 3px;
        width: 31px;
        height: 31px;
    }

    .subscribe-title {
        margin-top: 0;    
        padding-top: 31px;
        display: flex;
        justify-content: center;
    }
    
    .subscribe-title-item {
        position: relative;
        width: 230px;
    }    

    #email {
        line-height: 150%;
        font-size: 18px;
        width: 100%;
        margin-right: 0;
    }
    
    #subscribe-form {
        padding: 0 10px;
        margin-top: 25px;
    }

    .form-item {
        margin-bottom: 10px;
        padding: 0;
    }    

    .form-item-email input[type="submit"] {
        display: none;
    }

    .form-item-submit {
        display: block;
        margin-top: 40px;
    }

    .form-item-submit input[type="submit"] {
        width: 100%;
    }

    .section-subscribe {
        margin-top: 80px;
        height: 416px;
        display: block;
    }    

    .about-header .button-about {
        display: none;
    }

    .about-header-desktop-item {
        display: none;
    }

    .about-header-item {
        flex-basis: 100%;
    }

    .about-header,
    .about-items {
        padding: 0 10px;
    }

    .about-items {
        display: block;
        width: 223px;
        margin-top: 3px;
    }

    .about-item {
        margin-bottom: 40px;
    }

    .about-item-title {
        line-height: 120%;
    }

    .section-about {
        margin-top: 79px;
    }

    .about-footer {
        display: block;
    }

    .button-about {
        width: 100%;
    }    

    .about-img {
        display: block;
        width: 100%;
        height: 207px;
        object-fit: cover;
        margin-top: 40px;
    }

    footer {
        min-height: auto;
        background: transparent;
        margin-top: 80px;
    }

    .footer-menu {
        padding: 0 10px;
    }

    .footer-menu .logo {
        flex-basis: 100%;
        text-align: center;
    }

    .footer-menu .menu {
        margin-left: 0;  
        margin-top: 36px;      
        flex-basis: 100%;
    }

    .footer-menu .menu ul {
        justify-content: space-between;
    }

    .footer-menu .menu li {
        margin-right: 0;
    }

    .footer-menu .menu li a {
        font-size: 12px;
    }

    .contacts {
        margin-left: 0;
        margin-top: 10px;
    }

    .footer-circle {
        top: -9px;
        left: -3px;
        width: 20px;
        height: 20px;
    }

    footer .social {
        margin-top: 12px;
    }

    .contacts a {
        font-size: 12px;
    }

    .footer-menu .social li {
        margin-left: 26px;
    }

    .footer {
        flex-wrap: wrap;
        margin-top: 36px;
        margin-bottom: 40px;
    }

    .footer p,
    .footer a {
        font-size: 10px;
    }

    .footer p {        
        flex-basis: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 17px;
    }
}

