body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2B3541;
}

header nav {
    position: relative;
    padding-top: 53px;
}

header .logo {
    position: absolute;
    left: 45px;
    top: 50px;
}

.menu ul,
.social ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

header .social {
    position: absolute;
    right: 42px;
    top: 50px;
}

header .menu li {
    margin-right: 53px;
    box-sizing: border-box;
    height: 33px;
}

.menu li:hover {
    border-bottom: 1px solid #2B3541;
}

.menu a {
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
}

.social li {
    margin-left: 30px;
}

header .social img {
    width: 30px;
    height: 30px;
}

.social img:hover {
    width: 38px;
    height: 38px;
}

main {
    overflow: hidden;
}

.wrapper {
    max-width: 1143px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    font-weight: normal;
    line-height: 125%;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.section-header {
    position: relative;
    height: 852px;
}

.sub-header {
    display: flex;
}

.sub-header-item {
    margin-right: 25px;
}

.sub-header-item h2 {
    margin-top: 11px;
    margin-bottom: 21px;
}

.sub-header-decription {
    line-height: 150%;
}

.more {
    position: absolute;
    bottom: 10px;
    left: 92px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.2s ease;
}

.button:hover, 
.button-hover {
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.button-more {
    width: 252px;
    height: 64px;
    margin-top: 34px;
}

.button-participate {
    width: 221px;
    height: 64px;
    margin-top: 40px;
    opacity: 0;
}

.header-img {
    position: relative;
}

.header-img img {
    position: absolute;
    right: -184px;
    top: -11px;
    width: 996px;
    height: 852px;
    z-index: -1;
}

.title {
    padding-top: 216px;
}

.section-events {
    margin-top: 147px;
}

.events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.events-item {
    position: relative;
    height: 600px;
    width: 367px;
}

.events-item .background,
.events-item-content
 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.events-item .background {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    transition: 0.2s ease;
}

.events-item:hover .background {
    opacity: 0.6;
}

.events-item-type {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    background: #FBF138;
}

.events-item-content {
    padding: 30px;
    box-sizing: border-box;
}

.events-item-date {
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
    margin-top: 0;
}

.events-item-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    margin-top: 21px;
}

.events-item:hover .button-participate {
    opacity: 1;
}

.events-item:hover .events-item-type {
    display: none;
}

.section-schedule {
    margin-top: 120px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule-header-date {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 40px;
}

.schedule {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.schedule-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 703px;
}

.schedule-sub-item:hover {
    cursor: pointer;
}

.schedule-sub-item {
    border: 1px solid rgba(43, 53, 65, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.schedule-today {
    border: none !important;
    position: relative;
}

.schedule-today::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);    
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}

.schedule-description {
    display: none;
    line-height: 150%;
    margin-bottom: 0;
}

.schedule-today .schedule-description, 
.schedule-sub-item:hover .schedule-description {
    display: block;
}

.schedule-sub-item1 {
    width: 367px;
    height: 250px;
}

.schedule-sub-item2 {
    width: 367px;
    height: 433px;
}

.schedule-sub-item3 {
    width: 366px;
    height: 402px;
}

.schedule-sub-item4 {
    width: 366px;
    height: 281px;
}

.schedule-sub-item5 {
    width: 367px;
    height: 309px;
}

.schedule-sub-item6 {
    width: 367px;
    height: 374px;
}

.schedule-date {
    opacity: 0.7;
    text-align: right;
    margin: 20px 30px 0 0;
}

.schedule-content {
    margin: 0 30px 20px 30px;
}

.schedule-title {
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 0;
    margin-top: 40px;
}

.section-subscribe {
    margin-top: 160px;
    height: 348px;
    display: flex;
    justify-content: center;
    background: #F3F3F3;
}

.subscribe-title {
    position: relative;
    margin-top: 80px;    
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);    
}

.subscribe-circle {
    top: -25px;
    left: -7px;
    width: 53px;
    height: 53px;
    z-index: 0;
}

.subscribe h3 {
    text-align: center; 
    position: relative;
    z-index: 1;   
}

#email {
    line-height: 150%;
    border: none;
    width: 372px;
    height: 65px;    
    padding: 19px;
    box-sizing: border-box;
    margin-right: 20px;
}

#email:hover {
    background: #F3F3F3;
}

#email:focus,
.subscribe input[type="submit"]:focus {
    outline: none;
}

.subscribe input[type="submit"] {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 225px;
    height: 65px;
    border: none;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    box-sizing: border-box;
    transition: 0.2s ease;
}

.subscribe input[type="submit"]:hover {
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
}

.form-item {
    margin-bottom: 10px;
    padding-left: 20px;
}

.subscribe input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.subscribe input[type="checkbox"]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.subscribe input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/check_box_empty.svg);
}

.subscribe input[type="checkbox"]:checked+label::before {
    background-image: url(../images/icons/check_box.svg);
}

.agree-text,
.agree-link {
    font-size: 11px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.5);
}

.agree-link {
    transition: 0.2s ease;
}

.agree-link:hover {
    color: #2B3541;
}

.email-error {
    border: 1px solid #AE0303 !important;
}

.email-error-text {
    margin: 4px 0 0 0;
    font-size: 14px;
    line-height: 150%;
    color: #AE0303;
    display: none;
}

.section-about {
    margin-top: 160px;
}

.about-header {
    display: flex;
    justify-content: space-between;
}

.about-header-item {
    flex-basis: 50%;
}

.button-about {
    width: 225px;
    height: 65px;
}

.about-header h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.about-description {
    line-height: 150%;
    margin-bottom: 30px;
}

.about-items {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 75px;
}

.about-item-title {
    font-weight: 700;
    line-height: 125%;
    margin-top: 0;
}

.about-item-description {
    line-height: 150%;
    opacity: 0.6;
}

footer {
    height: 149px;
    background: #F3F3F3;
    margin-top: 150px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-menu .menu {
    margin-left: 40px;
}

.footer-menu .menu li {
    margin-right: 91px;
    box-sizing: border-box;
    height: 27px;
}

.footer-menu .menu li:last-child {
    margin-right: 0;
}

.footer-menu .menu li a {
    font-size: 14px;
}

.contacts {
    margin-left: 182px;
    position: relative;
}

.contacts a {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
    z-index: 1;
}

footer .social {
    margin-top: -10px;
}

footer .social img {
    width: 27px;
    height: 27px;
}

.footer p {
    margin-top: 22px;
}

.footer p, 
.footer-link {
    font-size: 14px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.3);    
}

.footer-link {
    transition: 0.2s ease;
}

.footer-link:hover {
    color: #2B3541;
}

.footer-circle {
    top: -12px;
    left: -18px;
    width: 25px;
    height: 25px;
    z-index: 0;
}
